.App {
  text-align: center;
  width: 100vw;

}
body{
  background: #6190E8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
.title{
  text-align: center;
  color: white;
  font-size: 26px;
}
.card{
  display: inline-table;
  margin-left: 3.5vw;
  margin-bottom: 3vw;
  padding: 2vw;
  background-color: snow;
  font-size: 12px;

}
.prj_link{
  align-self: center;
  background-color: snow;
}
.card-title{
  margin: 1%;
  font-size: 15px;
  background-color: snow;
}
.card-text{
  background-color: snow;
}
.card-subtitle{
  background-color: snow;

}
.card-body{
  background-color: snow;
  
}
.container{
  margin-top: 5vh;
  width: 100vw;

}
.search{
  text-align: center;
}
.result{
  margin-top: 2%;
  padding-top: 5vh;
  margin-left: -5vw;
  height: 73vh;
  width: 80vw;
  overflow-y: scroll;
  background-color:white;
}

.card1{
  display: inline-flex;
  margin-left: 3.5vw;
  margin-bottom: 3vw;
  padding: 2vw;
  background-color: snow;
  font-size: 12px;

}

.todo{
  display: block;
}

.task{
  display: block;
}